html,body {
  margin: 0;
  padding: 0;

}
body{
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
.p5Canvas {
  width: 100% !important;
  height:  calc(100vw * .66) !important;
  max-height: 100%;
  max-width:100%;
  image-rendering: -moz-crisp-edges;
image-rendering: -webkit-crisp-edges;
image-rendering: pixelated;
image-rendering: crisp-edges;
}
canvas {
  display: block;
}
